{# templates/registration/index.html.twig #} {% extends 'base.html.twig' %} {%
    block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-md-auto">
                <div class="card bg-light mb-3 mt-5" style="width: 800px">
                    <div class="card-body">
                        <div class="card-header mb-3">Registration Form</div>
                        <div id="statusForm"></div>

                        <form id="form" method="post">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="text" class="form-control" id="password" name="password">
                            </div>
                            <div class="form-group">
                                <label for="confirm_password">Confirm Password</label>
                                <input type="text" class="form-control" id="confirm_password" name="confirm_password">
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                                    <a type="submit" class="btn btn-primary" id="btnAction" route="/register">
                                        <i class="fa fa-btn fa-user"></i> Register
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}