{# templates/talks/add.html.twig #} {% extends 'base.html.twig' %} {% block
    body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-10">Add Talk</div>
                            </div>
                        </div>
                        {% if app.user != null %}
                            <div id="statusForm"></div>

                            <form id="form" method="post">

                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" name="title" >
                                </div>

                                <div class="form-group">
                                    <label for="date_start">Date Talk</label>
                                    <input type="text" class="form-control datepicker" id="date" name="date">
                                </div>

                                <div class="form-group">
                                    <label for="date_start">Hour Start</label>
                                    <input type="text" class="form-control time" id="date_start" name="hour_start">
                                </div>

                                <div class="form-group">
                                    <label for="date_end">Hour End</label>
                                    <input type="text" class="form-control time" id="date_end" name="hour_end">
                                </div>

                                <div class="form-group">
                                    <label for="event_id">Event</label>
                                    <select class="form-control" id="event_id" name="event_id">
                                        <option>Select the Event</option>
                                        {% if events|length > 0 %}
                                            {% for value in events %}
                                                <option value="{{ value.id }}">{{ value.title }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="speaker_id">Speaker</label>
                                    <select class="form-control" id="speaker_id" name="speaker_id">
                                        <option>Select the Speaker</option>
                                        {% if speakers|length > 0 %}
                                        {% for value in speakers %}
                                            <option value="{{ value.id }}">{{ value.name }}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                                </div>

                                <button type="button" class="btn btn-primary" id="btnAction" route="/talk/create">Add</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}